._display-pc {
  display: block !important;
}

._display-sp {
  display: none !important;
}

@media (--sp) {
  ._display-pc {
    display: none !important;
  }

  ._display-sp {
    display: block !important;
  }
}
