@mixin textTracking($size) {
  letter-spacing: ($size / 1000) * 1em;
}

@mixin gridAreaChildren($number, $prefix: 'g') {
  @for $i from 1 through $number {
    > :nth-child(#{$i}) {
      grid-area: #{$prefix}#{$i};
    }
  }
}

@mixin z-index($name, $diff: 0) {
  z-index: index($z-index, $name) * 100 + $diff;
}

@mixin hoverOpacity {
  transition: $transition-hover;
  transition-property: opacity;

  &:hover {
    opacity: $opacity-hover;
  }
}
