@mixin textTracking($size) {
  letter-spacing: ($size / 1000) * 1em;
}

@mixin gridAreaChildren($number, $prefix: 'g') {
  @for $i from 1 through $number {
    > :nth-child(#{$i}) {
      grid-area: #{$prefix}#{$i};
    }
  }
}

@mixin z-index($name, $diff: 0) {
  z-index: index($z-index, $name) * 100 + $diff;
}

@mixin hoverOpacity {
  transition: $transition-hover;
  transition-property: opacity;

  &:hover {
    opacity: $opacity-hover;
  }
}

@mixin contentWidth {
  padding-right: calcRelativeWith($header-width, $wrapper-width);
  padding-left: calcRelativeWith($header-width, $wrapper-width);
}

@mixin contentWidthSp {
  padding-left: $padding-side-sp;
  padding-right: $padding-side-sp;
}

@mixin verticalHeading($font-size: 3, $is-serif: true) {
  font-size: #{$font-size}rem;
  font-weight: $weight-bold;
  writing-mode: vertical-rl;
  line-height: (50 / 30);
  @include textTracking(60);

  @if $is-serif == true {
    font-family: $font-family-serif;
  }
}
