$size-font-browser: 16px;
$size-font-html: 10px / $size-font-browser * 100%;
$size-font-base: 1.5rem;

$font-family-base: 'Noto Sans JP', 'ヒラギノ角ゴ ProN W3',
  'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, '游ゴシック', 'Yu Gothic',
  YuGothic, sans-serif;
$font-family-serif: 'Noto Serif JP', serif;
$line-height-base: 1.7;

/* --------------------------
  z-index
-------------------------- */
$z-index: brand, menu, header;

/* --------------------------
  color
-------------------------- */
$color-text: #333333;
$color-background: #f7f5f1;
$color-white: #ffffff;
$color-black: #000000;
$color-magenta: #e73656;
$color-dark-blue: #001c58;
$color-link-active: #81817f;
$color-light-yellow: #fcfbf9;
$color-table-border: #d2d2d2;

/* --------------------------
  size
-------------------------- */
$header-width: 140px;
$wrapper-width: 1280px;
$content-width: 1000px;

/* --------------------------
  font weight
-------------------------- */
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;

/* --------------------------
  opacity
-------------------------- */
$opacity-hover: 0.6;

/* --------------------------
  transitions
-------------------------- */
$transition-hover: 0.3s ease-in-out;
$transition-hamburger: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);

/* --------------------------
  padding
-------------------------- */
$padding-side-sp: 35px;
