$size-font-browser: 16px;
$size-font-html: 10px / $size-font-browser * 100%;
$size-font-base: 1.6rem;

$font-family-base: 'Noto Sans JP', 'ヒラギノ角ゴ ProN W3',
  'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, '游ゴシック', 'Yu Gothic',
  YuGothic, sans-serif;
$line-height-base: 1.5;

/* --------------------------
  color
-------------------------- */
$color-text: #333333;
$color-background: #f5f5f5;

/* --------------------------
  size
-------------------------- */
$header-width: 140px;
$content-width: 1000px;
