$size-font-browser: 16px;
$size-font-html: 10px / $size-font-browser * 100%;
$size-font-base: 1.6rem;

$font-family-base: 'Noto Sans JP', 'ヒラギノ角ゴ ProN W3',
  'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, '游ゴシック', 'Yu Gothic',
  YuGothic, sans-serif;
$font-family-serif: 'Noto Serif JP';
$line-height-base: 1.5;

/* --------------------------
  color
-------------------------- */
$color-text: #333333;
$color-background: #f7f5f1;
$color-white: #ffffff;
$color-black: #000000;
$color-magenta: #e73656;
$color-dark-blue: #001c58;
$color-link-active: #81817f;

/* --------------------------
  size
-------------------------- */
$header-width: 140px;
$content-width: 1000px;

/* --------------------------
  opacity
-------------------------- */
$opacity-hover: 0.6;

/* --------------------------
  transitions
-------------------------- */
$transition-hover: 0.3s ease-in-out;

/* --------------------------
  padding
-------------------------- */
$padding-side-sp: 35px;
