.page {
  &-enter-active,
  &-leave-active {
    transition: 0.8s cubic-bezier(.7, 0, .5, 1);
    transition-property: opacity transform;
  }

  &-leave-to {
    opacity: 0;
    transform: translate3d(0, -100px, 0);
  }

  &-enter {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
}
